@import './space_gray.css';
@import './bright_light.css';
@import './vkcom.css';
@import './fonts/main.css';
@import './animations.css';

.vkui__root, .vkui__portal-root{
    --font-common: "VK Regular", system-ui, "Helvetica Neue", Roboto, sans-serif;
    /* --font-tt: "VK Medium"; */
}


div,p{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;        
}
::-webkit-scrollbar {
    width: 3px;
    background-color: var(--background_page);
}
::-webkit-scrollbar-thumb {
    background-color:var(--scrollbar);
    border-radius: 10%;
    box-shadow: inset 1px 1px 10px var(--scrollbar);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--hover_scrollbar);
}

.vkuiSplitCol--spaced {
    margin-left: 0px;
}
.profile-chevron {
    margin-top: 2px;
    transition: all 0.5s ;
}
.green_progressbar .vkuiProgress__in {
    background: #4BB34B;
}
.blue_progressbar .vkuiProgress__in {
    background: #3F8AE0;
}
.progressbar_big_height {
    height: 4px;
}
.vkuiProgress__in{
    transition: all .7s ease-out;
}
.vkuiSimpleCell__after {
    color: #818C99;
}
.infoblock {
    margin-bottom: 14px;
    line-height: 18px;
    color: var(--subtext);
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
}
.score_expert {
    display: flex;
}
.verified {
    color: #5C9CE6;
    margin-left: 4px;
    margin-top: 2px;
}
.heart_bottom {
    margin-left: 8px;
    margin-top: 2px;
    color: #FF3347;
}
.heart_anim {
    animation: pulse_heart 3s linear infinite;
}
.child_90 .vkuiSimpleCell__main .vkuiSimpleCell__content {
    width: 90%;
    display: block;
}
.vkuiTabsItem .vkuiText{
    font-size: 16px;
}
.vkuiTabs--vkcom .vkuiTabsItem--vkcom {
    padding: 0;
    margin: 0 10px;
    font-size: 16px;
}
.vkuiTabs--vkcom .vkuiTabsItem--vkcom:first-child {
    margin-left: 0px;
}
.crown {
    color: #FFA000;
}
.crown_profile {
    margin-top: 2px;
    margin-left: 5px;
}
.crown_user-gradient {
    margin-top: 4px;
    margin-left: 5px;
}
.status-block {
    background: var(--field_background);
}