.card {
    padding: 3px 20px;
    background-color: #F0F2F5;
    position: relative;
    display: flex;
    overflow: hidden;
    height: 90%;
    width: 35%;
    min-width: 100px;
}
.card_icon {
    position: absolute;
    margin-top: -13px;
    margin-left: 7px;

}
.card:not(:last-child) {
    margin-right: 7px;
}
.card .vkuiSimpleCell__children {
    color: #626D7A;
}